{% extends "layout.html" %} 
{% block content %}
<div class="about"> 
      result : {{ msg }}
      <table border = 1 class="docutils align-default">
         <thead>
		    <td><b>ID</b></td>
            <td><b>Title</b></td>
            <td><b>Short Desc</b></td>
            <td><b>Category 1</b></td>
            <td><b>Updated</b></td>
			<td><b>Actions</b></td>
         </thead>
         
         {% for row in rows %}
            <tr>
                <td>{{row["id"]}}</td>
                <td>{{row["title"]}}</td>
                <td>{{row["short_desc"]}}</td>
                <td> {{ row["category1"]}}</td>
                <td>{{row['updated_at']}}</td>
                {% if row["category1"].find("form") != -1: %}
                 <td>[<a href="/edit1?id={{row["id"]}}">edit_form</a>]  [<a href="/add_entry?id={{row["id"]}}">add_entry</a>] [<a href="/delete?id={{row["id"]}}">delete</a>]</td>
                {% elif row["category1"].find("story") != -1: %}
                 <td>[<a href="/edit1?id={{row["id"]}}">edit_form</a>]  [<a href="/add_entry?id={{row["id"]}}">add_entry</a>] [<a href="/delete?id={{row["id"]}}">delete</a>]</td>
                {% else: %}
                 <td>[<a href="/edit?id={{row["id"]}}">edit</a>] [<a href="/delete?id={{row["id"]}}">delete</a>]</td>
                {% endif %}
            </tr>
         {% endfor %}
      </table>
      <br/>
      <a href = "/">Go back to home page</a>
     </div>
   {% endblock %} 
